.iconLeft {
    position: absolute;
    top: 10px;
    left: 10px;
}

.iconRight {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.seasonDisplay.winter i {
    color: cornflowerblue;
}

.seasonDisplay.summer i {
    color: orangered;
}

.seasonDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: goldenrod;
}

.winter {
    background-color: aliceblue;
}